[Desktop Entry]
Type=Application
Name=Open in Google Drive
Comment=Open a Google Docs/Sheets/Slides link file in the browser
Exec=gdrive open %f
Icon=gdrive-app
Terminal=false
NoDisplay=true
MimeType=application/x-gdrive-link;
